@media (max-width: 1118px) {
  .cardsItems {
    padding: 0 19.1%;
  }
}

@media (max-width: 1113px) {
  .cardsItems {
    padding: 0 18.1%;
  }
}

@media (max-width: 1077px) {
  .cardsItems {
    padding: 0 17.1%;
  }
}

@media (max-width: 1046px) {
  .cardsItems {
    padding: 0 16.1%;
  }
}

@media (max-width: 1015px) {
  .cardsItems {
    padding: 0 15.1%;
  }
}

@media (max-width: 1046px) {
  .cardsItems {
    padding: 0 14.1%;
  }
}

@media (max-width: 959px) {
  .cardsItems {
    padding: 0 13.1%;
  }
}

@media (max-width: 933px) {
  .cardsItems {
    padding: 0 12.1%;
  }
}

@media (max-width: 908px) {
  .cardsItems {
    padding: 0 11.1%;
  }
}

@media (max-width: 884px) {
  .cardsItems {
    padding: 0 10.1%;
  }
}

@media (max-width: 862px) {
  .cardsItems {
    padding: 0 9.1%;
  }
}

@media (max-width: 842px) {
  .cardsItems {
    padding: 0 8.1%;
  }
}

@media (max-width: 822px) {
  .cardsItems {
    padding: 0 7.1%;
  }
}

@media (max-width: 802px) {
  .cardsItems {
    padding: 0 6.1%;
  }
}

@media (max-width: 784px) {
  .cardsItems {
    padding: 0 5.1%;
  }
}

@media (max-width: 766px) {
  .cardsItems {
    padding: 0 4.1%;
  }
}

@media (max-width: 750px) {
  .cardsItems {
    padding: 0 3.1%;
  }
}

@media (max-width: 734px) {
  .cardsItems {
    padding: 0 2.1%;
  }
}

@media (max-width: 718px) {
  .cardsItems {
    padding: 0 1.1%;
  }
}

@media (max-width: 702px) {
  .cardsItems {
    padding: 0 0.1%;
  }
}

@media (max-width: 690px) {
  .cardItem {
    margin-bottom: 14.1% !important;
  }
  .cardItemActive {
    margin-bottom: 14.1% !important;
  }
}

@media (max-width: 414px) {
  .cardsItems {
    padding: 0 11.1%;
  }
}

@media (max-width: 393px) {
  .cardsItems {
    padding: 0 10.1%;
  }
}

@media (max-width: 390px) {
  .cardsItems {
    padding: 0 9.1%;
  }
}

@media (max-width: 375px) {
  .cardsItems {
    padding: 0 7.1%;
  }
}

@media (max-width: 320px) {
  .cardItem {
    margin-bottom: 16.1% !important;
  }
  .cardItemActive {
    margin-bottom: 16.1% !important;
  }
}
